<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets</title>
</head>
<body>
    <form method="POST" action="/tweet">
        <!--title-->
        <div>
            <label>Title*</label>
        <input type="text"  name="title" required>
        </div>
        
        <div>
            <!--tweet-->
            <label>Text*</label>
            <input type="text"  name="text" maxlength="280">
        
        </div>

        <div>        
            <!--submit-->
            <input type="submit">
        </div>

    </form>
    <a href="/signout"><button>signout</button></a>
    <h1>{{error}}</h1>
    <br><a href="/all_tweets"><button>see feed</button></a>

    
</body>
</html>